* {
  margin: 0;
  padding: 0;
}
.header {
  /* width:38%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  margin: 14px 0 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.caption {
  color: rgb(128, 118, 118);
  font-size: 17px;
  margin: 2px 0 5px 0;
  font-family: Arial, Helvetica, sans-serif;
}
.author {
  color: rgb(128, 118, 118);
}
.search{
  display: flex;
  border:2px solid red;
  border:20px;
  margin:20px 0 0 0;

}
input{
  margin-left:30%;
  width:35%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding:0 0 0 9px;
  color:rgb(255, 38, 0);
  border:2px solid red;
  outline: none;
}
input::placeholder{
  color:rgb(255, 38, 0);
}
input[type=text]:focus {
  border:2px solid red;

}
img{
  background: #000;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgb(255, 38, 0);
  cursor: pointer;
  width:30px;
  padding:10px;
}
.result{
  text-align: center;
  margin:2.8% 0 0 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.carts{
  display:flex;
  width:80%;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1.8% 0 0 9.5%;
}
.items{
  align-items: center;
  border: 2px solid red;
  border-radius: 16px;
  margin:1.5%;
  box-shadow: 0px 0px 5px 5px rgb(192, 185, 185);
}
.thumbnail{
  height:250px;
  width:250px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 0;
  margin:0;
}
.name{
  font-size: 25px;
  font-weight: 650;
  margin:3px 0 3px 0;
}
.ingredient{
  display: flex;
  flex-direction: column;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin:3px 0 3px 0;

}
.quantity{
  margin:3px 0 3px 0;

}
.recipe{
width:160px;
padding:10px;
margin:8px 0 5px 0;
background: rgb(255, 38, 0);
border: none;
color:white;
font-weight: bolder;
border-radius: 30px;
cursor: pointer;
}